<!-- <footer style="text-align: center; margin-top: 10px; padding: 5px; background: #f1f1f1; position: fixed; bottom: 0; width: 100%;font-size: 10px;">
    <p>© 2025. All Rights Reserved. Designed & Developed by SANT.</p>
</footer> -->

<footer style="text-align: center; margin-top: 10px; padding: 5px; background: blue; 
               color: white; font-size: 10px; font-weight: bold; position: fixed; 
               bottom: 0; width: 100%;">
    <p>© 2025. All Rights Reserved. Designed & Developed by SANT.</p>
</footer>